.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.caption {
    font-style: italic;
    font-size: .8rem;
}

/* Used for SVGs which utilize the light-dark() CSS function */
.noColorScheme, .noColorScheme * {
    color-scheme: unset !important;
}

.svgResize > svg {
    width: 100%;
    height: auto;
}